.title {
  color: #FFFAEB;
}

body {
  color: #FFFAEB;
  background-color: #178DC8;
}

.px {
  font size: 1rem
}

@media screen and (max-width: 768px) {
    {
       font size: 20px;
     }
 }
 
 @media screen and (max-width: 480px) {
    {
        font size: 40px;
     }
 }
